@using CoreServiceCollection.Localisation
@using CoreServiceCollection.Localisation.Areas
@using CoreServiceCollection.Localisation.Areas.Person.Models
@using Microsoft.Extensions.Localization
@model PersonViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Details_Label"];
}

<h2>@SharedLocalizer["Details_Label"]</h2>

<div>
    <h4>PersonViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink(SharedLocalizer["Edit_Label"], "Edit", new { id = Model.Id }) |
    <a asp-action="Index">@SharedLocalizer["BackToList_Label"]</a>
</div>
