@using CoreServiceCollection.Localisation
@using CoreServiceCollection.Localisation.Areas
@using CoreServiceCollection.Localisation.Areas.Person.Models
@using Microsoft.Extensions.Localization
@model IEnumerable<PersonViewModel>
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">@SharedLocalizer["New_Label"]</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.ActionLink(SharedLocalizer["Edit_Label"], "Edit", new {id = item.Id}) |
                @Html.ActionLink(SharedLocalizer["Details_Label"], "Details", new {id = item.Id}) |
                @Html.ActionLink(SharedLocalizer["Delete_Label"], "Delete", new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>
